<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>CV</title>
    <script src="../static/scripts/script.js" defer></script>
</head>
<body> 
    <div class="container">
        <header>
            <p style="margin-right: 2%;">Kostiaev Filipp</p>
            <a href="../static/files/CV_Kostiaev_FA.pdf" style="text-decoration: none; color:black"><button class="btn file" id="file-btn ">&#128190;PDF</button></a>
            <div class="buttons">
              <button class="btn lang " id="rus-btn">RUS</button>
              <button class="btn lang active" id="eng-btn">ENG</button>
            </div>
          </header>
          <main>
            <article>
              <h1>About myself</h1>
              <p><strong>Career objective: </strong>Junior Frontend</p>
              <p><strong>Employment: </strong>Full</p>
              <p><strong>For business trips: </strong>Ready</p>
              <p><strong>Education: </strong><br />1) Bauman Moscow State Technical University: Refrigerating, cryogenic equipment and air conditioning systems
              <br />2) Tinkoff Fintech: Frontend</p>
              <p><strong>Age: </strong>28</p>
              <p><strong>Citizenship: </strong>RUSSIA</p>
              <p><strong>Hometown: </strong>Moscow</p>
              <p><strong>Marital status: </strong>Single</p>
              <p><strong>Driving license: </strong>Category B</p>
              <p><strong>Languages: </strong><br />1) Russian - native <br />2) English - intermediate</p>
              <p><strong>Programming languages: </strong>JavaScript, Python</p>
            </article>
            <nav>
              <img src="../static/img/avatar.jpg" alt="Фото профиля">
            </nav>
            <aside>
              <h1>Contacts</h1>

                <ul class="contacts">
                  <li><strong>Email: </strong><br /> <br /><a href="mailto:kost-filipp@yandex.ru">kost-filipp@yandex.ru</a></li>
                  <li><strong>Phone: </strong>8(977) 675-34-68</li>
                  <li><strong>Skype: </strong>Filippworks</li>
                  <li></li>
                </ul>
                <img src="../static/img/logo.svg" alt="Logo" style="width: 100%; margin: 0 0.5em; margin-top: -3em;">
            </aside>
          </main>
          <footer>
            <hr />
            <div class="skills">
              <h1>Skills</h1>
              <p><strong>1) Python: </strong>Creating desktop applications, writing server code with Flask</p>
              <p><strong>2) HTML, CSS: </strong>Responsive layout (familiar with BEM methodology and SCSS preprocessor)</p>
              <p><strong>3) JavaScript: </strong>Writing scripts working with DOM elements</p>
              <p><strong>4) Node JS: </strong>Creating elementary server</p>
              <p><strong>5) Vue JS: </strong>Creating simple components</p>
              <p><strong>6) Git: </strong>Performing operations to access the repository</p>
              <p><strong>7) WebPack: </strong>Using the collector in projects, working with styles</p>
            </div>
            <div class="projects">
              <h1>Projects</h1>
              <p><strong>1) Employee Pay Schedule Application (Python): </strong> <a href="https://disk.yandex.ru/d/jBe_PCJe8Hiv9A">https://disk.yandex.ru/d/jBe_PCJe8Hiv9A</a></p>
              <p><strong>2) Internet portal in Flask (Python): </strong><a href="https://disk.yandex.ru/d/cevPsa8_jt8KEg">https://disk.yandex.ru/d/cevPsa8_jt8KEg</a></p>
              <p><strong>3) Weather page (JavaScript): </strong><a href="https://github.com/kost-filipp/JS-Weather">https://github.com/kost-filipp/JS-Weather</a></p>
              <p><strong>4) Blog page (JavaScript): </strong><a href="https://blog-js-b028b.firebaseapp.com/">https://blog-js-b028b.firebaseapp.com/</a></p>
              <p><strong>5) There are also many projects i'm working on  </strong>Vue, Node, JavaScript</p>
            </div>
          </footer>
    </div>  
</body>
</html>